<h1  class="text-center">達成済み目標</h1>
<%= link_to "目標の設定", new_task_path %>
<p  class="text-center">達成済みの目標一覧です</p>
<table class="table table-dark">
<tbody>
<!--達成した目標のみ表示-->
<% @tasks.each do |task| %>
<div class="card" style="width:300px;">
  <div class="card-body">
    <h4 class="card-title">目標<%= task.task %></h4>
    <p class="card-text">補足<%= task.comment %></p>
  </div>
</div>
<% end %>
</tbody>
</table>