<h1 class="text-center">目標達成</h1>
<p  class="text-center">目標を決めて達成したかどうか管理するアプリです。</br>
さっそく始めましょう</p>

<%= link_to "ユーザー登録をする", new_user_registration_path %>
<%= link_to "ユーザーログインする", new_user_session_path %>
<%= link_to "目標一覧", tasks_path %>