<h1 class="text-center">目標達成</h1>
<p  class="text-center">目標を決めて達成したかどうか管理するアプリです。</br>
さっそく始めましょう</p>

<div class="row justify-content-center">
<%= link_to "ユーザー登録をする", new_user_registration_path, class:"btn btn-success"  %>
<%= link_to "ユーザーログインする", new_user_session_path, class:"btn btn-primary"  %>
</div>